/MintyToDos.sln.DotSettings.user
/MintyToDos.zip
/MintyToDos/[Bb]in
/MintyToDos/[Oo]bj
/.idea/.idea.MintyToDos/.idea/discord.xml
/.idea/.idea.MintyToDos/.idea/indexLayout.xml
/.idea/.idea.MintyToDos/.idea/vcs.xml
